/* src/components/StarField.css */

.starfield-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Color de fondo predeterminado: negro */
    background-color: var(--starfield-background, #fff);
    z-index: -2; /* Detrás de otros elementos */
    pointer-events: none; /* Permite interactuar con los elementos por encima */
  }
  
  .starfield-canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
  